<ion-view title="Contacts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-minus-outline" ng-click="contacts.showDelete = !contacts.showDelete"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list show-delete="contacts.showDelete">

      <ion-item class="item-divider" ng-repeat-start="(letter, contacts) in groupedContacts">
        {{letter}}
      </ion-item>

      <ion-item href="#/app/playlists/{{contact.id}}" ng-repeat="contact in contacts">
        {{contact.firstName}} {{contact.lastName}}
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(contact)">
        </ion-delete-button>
      </ion-item>

      <div ng-repeat-end></div>
    </ion-list>
  </ion-content>
</ion-view>
