<ion-view title="Sign Up">
  <form novalidate name="form">
    <ion-content class="has-header">
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="Enter your first name" ng-model="model.firstName" name="firstName" required>
          <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
            <span ng-show="form.firstName.$error.required" class="error">Please specify a first name.</span>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Enter your last name" ng-model="model.lastName" name="lastName" required>
          <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
            <span ng-show="form.lastName.$error.required" class="error">Please specify a last name.</span>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">User Name</span>
          <input type="text" placeholder="Enter your user name" ng-model="model.userName" name="username" required>
          <div ng-show="form.username.$dirty && form.username.$invalid">
            <span ng-show="form.username.$error.required" class="error">Please specify a user name.</span>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Enter your password" ng-model="model.password" name="password" required>
          <div ng-show="form.password.$dirty && form.password.$invalid">
            <span ng-show="form.password.$error.required" class="error">Please specify a password.</span>
          </div>
        </label>
        <div class="row">
          <div class="col col-33 col-offset-33">
            <a href="#/app/playlists" class="button button-block">Cancel</a>
          </div>
          <div class="col col-33">
            <button class="button button-block icon-right ion-chevron-right button-calm" ng-click="signup(model)" ng-disabled="form.$invalid">
              Save
            </button>
          </div>
        </div>
      </ion-list>
    </ion-content>
  </form>
</ion-view>
